<table class="table table-striped">
  <thead>
    <tr>
      <% @solution.query_task.solution_template.split().each do |attribute|%>
        <th><%= attribute %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% objects.each do |object| %>
      <tr>
        <% @solution.query_task.solution_template.split().each do |attribute| %>
          <td><%= eval("object.#{attribute}") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>